.medList {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.medication {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0;
  border-radius: 8px;
  max-height: 16px;
}

.medName {
  font-weight: bold;
  display: inline;
}

.percentage {
  color: #52cc7a;
  display: inline-block;
}
