.chip {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 20px;
  width: fit-content;
  margin-right: 6px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 10px 4px 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 0;
}
