.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-sizing: border-box;
    padding: 18vh 2vw 9vh 2vw;
    height: 100vh;
    gap: 2rem;
}

.bottomIcon {
    margin-top: auto;
}