.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #2BB673;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  grid-gap: 25px;
  width: var(--max-width);
  max-width: 100%;
}
